block 52a-delay
  div(class='input-group mb-2' data-toggle='tooltip' title='Delay time value before simulator operates CLOSE')
    div(class='input-group-prepend')
        span(class='input-group-text') Close delay: 
    input(type='text' class='form-control' id='closeOperationDelay' aria-label='Close Operation delay in milli seconds' value=defaultValues[0])
    div(class='input-group-append')
        span(class='input-group-text') msec
        