block 52b-delay
  div(class='input-group mb-2' data-toggle='tooltip' title='Delay time value before simulator operates 52b contact(s)')
    div(class='input-group-prepend')
        span(class='input-group-text') 52b delay: 
    input(type='text' class='form-control' id='b-delay' aria-label='52b delay in milli seconds' value=defaultValues[1])
    div(class='input-group-append')
        span(class='input-group-text') msec
      