- var url = 'http://www.beckwithelectric.com/'
block foot
  div(class='card-footer bg-transparent text-right text-muted')
    div(class='inner')
      small
        address
          a(href=url) <strong>Beckwith Electric Co. Inc.</strong>
          .
             &copy; 2018 
          p 6190 118th Ave. North Largo, FL 33773
            abbr(title='Phone')  Ph: (727) 544-2326
