block scripts
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
  
  script.
    function getOption(){
      
      var breakerModel = document.querySelector('input[name= "bOptions"').value + ', ' + document.querySelector('input[name= "aOptions"').value;
      
      var operationMode = document.querySelector('input[name= "tripOptions"').value + ' ' + document.querySelector('input[name= "closeOptions"').value;
      
      var aOperationDelay = document.querySelector('input[name= "aOperationDelay"').value;
      var bOperationDelay = document.querySelector('input[name= "bOperationDelay"').value;
      
      var startPosition = document.querySelector('input[name= "startPositions"').value;
      
      // var formData = new FormData(document.querySelector('#m76xxsimForm'));
      
      // formData.set('breakerModel', breakerModel);
      // formData.set('operationMode', operationMode);
      // formData.set('aOperationDelay', aOperationDelay);
      // formData.set('bOperationDelay', bOperationDelay);
	
      console.log('script');
      console.log('breakerModel: ' + breakerModel);
      console.log('startPosition: ' + startPosition);
      console.log('operationMode: ' + operationMode);
      console.log('aOperationDelay: ' + aOperationDelay);
      console.log('bOperationDelay: ' + bOperationDelay);
      
      var myHeaders = new Headers();
      var myInit = {
        method: 'PUT',
        headers: myHeaders,
        mode: 'cors',
        cache: 'default'
      };
      
      var message = 'breakerModel=' + breakerModel + '&startPosition=' + startPosition + '&operationMode='+ operationMode + '&aOperationDelay=' + aOperationDelay + '&bOperationDelay=' + bOperationDelay;
      
      // var myRequest = new Request('?' + name + '=' + value, myInit);
      var myRequest = new Request('?' + message, myInit);
      
      fetch(myRequest);
      
    }
      