block outputs
	div(class='col')
		div(class='card text-center')
			div(class='card-header')
				h4 Output Settings
			div(class='card-body')
				include outputModel/output-model-v2.pug
				include delayTime/delays.pug