extends layout

block content
  div(class='container')
    nav(class='navbar navbar-dark shadow p-1 mb-3 rounded bg-danger')
      h1 #{title}
      small #{ver}
  div(class='container-fluid')
    div(class='row')
      include include/inputs.pug  
      include include/outputs.pug