block 52a-delay
    div(class='input-group mb-2')
        div(class='input-group-prepend')
            span(class='input-group-text') 52a delay time: 
        input(type='text' class='form-control' id='52a-delay' aria-label='52a delay in milli seconds')
        div(class='input-group-append')
            span(class='input-group-text') msec
        