block 52b-delay
    div(class='input-group mb-2')
        div(class='input-group-prepend')
            span(class='input-group-text') 52b delay time: 
        input(type='text' class='form-control' id='52b-delay' aria-label='52b delay in milli seconds')
        div(class='input-group-append')
            span(class='input-group-text') msec
        