block close-duration
    div(class='input-group mb-2')
        div(class='input-group-prepend')
            span(class='input-group-text') Close pulse: 
        input(type='text' class='form-control' id='close-pulse-duration' aria-label='Close duration in milli seconds' value=defaultValues[3])
        div(class='input-group-append')
            span(class='input-group-text') msec
        