
block foot
    address
        <strong>Beckwith Electric Co. Inc.</strong> &copy;2018
        br 
        | 6190 118th Ave. North
        br 
        | Largo, FL 33773
        br
        abbr(title="Phone") Ph: 
        | (727) 544-2326
        //- <br>
        //- a(href="http://www.beckwithelectric.com/site-map.html") Site Map
        //- <br>
        //- a(href="http://www.beckwithelectric.com/terms-of-use.html") Terms of Use
        //- <br>
        //- a(href="http://www.beckwithelectric.com/privacy.html") Privacy Policy
        //- <br>
        //- a(href="http://www.beckwithelectric.com/contact") Contact Us

    //- a(href="http://www.beckwithelectric.com/protection/index.htm") Beckwith Electric

    //- p Beckwith Electric Co., Inc. | 6190 118th Avenue North, Largo, Florida 33773 U.S.A. | 727-544-2326 &copy; 2018 All Rights Reserved. 
        