block trip-duration
    div(class='input-group mb-2')
        div(class='input-group-prepend')
            span(class='input-group-text') Trip pulse duration: 
        input(type='text' class='form-control' id='trip-pulse-duration' aria-label='Trip duration in milli seconds')
        div(class='input-group-append')
            span(class='input-group-text') msec
        