block output2
	div(class='card')
		div(class='card-header')
			h6 M76xx Outputs 2,6,8
		div(class='card-body')
			div(class='custom-control custom-radio' data-toggle='tooltip' title='3ph Ganged')
				input(type='radio' class='custom-control-input' id='closeOptions-abc' name='closeOptions' value='3lockout' required checked onclick='getOption()')
				label(class='custom-control-label' for='closeOptions-abc') Close ABC
				
			div(class='custom-control custom-radio' data-toggle='tooltip' title='Independent Phase')
				input(type='radio' class='custom-control-input' id='closeOptions-a' name='closeOptions' value='1lockout' required onclick='getOption()')
				label(class='custom-control-label' for='closeOptions-a') Close A
			div(class='invalid-feedback') Select a Output option for Output 2