block 52b-delay
  div(class='input-group mb-2' data-toggle='tooltip' title='52b operation delay after simulator detects a Trip operation.')
    div(class='input-group-prepend')
        span(class='input-group-text') 52b: 
    input(type='text' class='form-control' id='52b-delay' name='bOperationDelay' value=defaultValues[1])
    div(class='input-group-append')
        span(class='input-group-text') msec
        