block delays
    div(class='card')
        div(class='card-header')
            h6 Operation Delay Time
        div(class='card-body')
            include 52a-delay-v2.pug
            include 52b-delay-v2.pug