block breaker-model
  div(class='card-body')
    div(class='card-deck')
      include input-1.pug
      include input-2.pug
      include start-position-v2.pug
      // include ../durationTime/durations.pug