block input1
  div(class='card')
    div(class='card-header')
      h6 Input 1
    div(class='card-body')
      div(class='custom-control custom-radio' data-toggle='tooltip' title='3ph Ganged')
          input(type='radio' class='custom-control-input'  id='input1-selection-abc' name='aOptions' value='ganged' required checked)
          label(class='custom-control-label' for='input1-selection-abc') 52a Phases ABC
          
      div(class='custom-control custom-radio' data-toggle='tooltip' title='Individual Phase')
          input(type='radio' class='custom-control-input' id='input1-selection-a' name='aOptions' value='independent' required)
          label(class='custom-control-label' for='input1-selection-a') 52a Phase A
          
      div(class='custom-control custom-radio' data-toggle='tooltip' title='52a is not used')
          input(type='radio' class='custom-control-input' id='input1-selection-general' name='aOptions' value='general' required)
          label(class='custom-control-label' for='input1-selection-general') General
      div(class='invalid-feedback') Select a Breaker Model option for Input 1