block start-position
  div(class='card')
    div(class='card-header') 
      h6 Start Position
    div(class='card-body')
      div(class='custom-control custom-radio' data-toggle='tooltip' title='Set recloser Close')
        input(type='radio' id='startPositionClose' name='startPositionOptions' class='custom-control-input' value='close' required checked)
        label(class='custom-control-label' for='startPositionClose') Close
      div(class='custom-control custom-radio' data-toggle='tooltip' title='Set recloser Trip')
        input(type='radio' id='startPositionTrip' name='startPositionOptions' class='custom-control-input' value='trip' required)
        label(class='custom-control-label' for='startPositionTrip') Trip
      div(class='invalid-feedback') Select a Start Position