block inputs    
	div(class='col')
		div(class='card text-center')
			div(class='card-header')
				h4 Input Settings
			div(class='card-body')  
				include breakerModel/breaker-model-v2.pug
				include durationTime/durations.pug