block close-duration
    div(class='input-group mb-2' data-toggle='tooltip' title='52a contact pulse duration.' )
        div(class='input-group-prepend')
            span(class='input-group-text') 52a operation duration: 
        input(type='text' class='form-control' id='52a-pulse-duration' name='52a-pulse-duration' value=defaultValues[3])
        div(class='input-group-append')
            span(class='input-group-text') msec
        