block durations
    div(class='card')
        div(class='card-header')
            h6 Duration Time
        div(class='card-body')
            include close-duration-v2.pug
            include trip-duration-v2.pug