block durations
    div(class='card mb-1')
        div(class='card-header')
            h6 Operation Duration Time
        div(class='card-body')
            include close-duration-v2.pug
            include trip-duration-v2.pug