block close-duration
    div(class='input-group mb-2' data-toggle='tooltip' title='52b contact pulse duration.' )
        div(class='input-group-prepend')
            span(class='input-group-text') 52b operation duration: 
        input(type='text' class='form-control' id='52b-pulse-duration' name='52b-pulse-duration' value=defaultValues[2])
        div(class='input-group-append')
            span(class='input-group-text') msec
        